*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgray;
    
}
main{
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 7px;
}

header{
    background-color: black; 
    padding: 10px;
    
   
  
}

#menu{
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color: white;
    justify-content: center;
}

nav a{
    color:white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;

}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    top: 510px;
   position: absolute;
}

.imagen1{
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: -130px;
    flex-direction: row-reverse;

}

.imagen2{
    height: 230px;
    width: 420px;
   bottom: -60px;
   left: 320px;
   position: absolute;
   flex-direction: row-reverse;
}

.imagen3{
    height: 435px;
    width: 400px;
    left: 1100px;
    position: absolute;
    bottom: -270px;
    flex-direction: row-reverse;

}

.imagen4{
    height: 130px;
    width: 300px;
    position: absolute;
    bottom: -270px;
    flex-direction: row-reverse;
}

.imagen5{
    height: 200px;
    width: 420px;
    position: absolute;
    bottom: -270px;
    left: 320px;
    flex-direction: row-reverse;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    top: 520px;
    position: absolute;
    left: 1100px;
}

#menu ul{
    color: white;
}

footer{
    background-color: black;
}

.danny{
    right: 415px;
    position: absolute;
    top: 495px;

}
.topaimg{
    height: 400px;
    width: 500px;
    top: 200px;
    position: absolute;
}

.panamimg{
    height: 350px;
    width: 500px;
    top: 610px;
    position: absolute;

}

.circoimg{
    height: 450px;
    width: 500px;
    top: 200px;
    position: absolute;
    right: 500px;
}

footer{
    top: 990px;
    position: absolute;
    width: 1500px;
    padding: 5px;

}

footer nav a{
    font-size: 10px;
}

.circdu{
    height: 300px;
    width: 500px;
    top: 660px;
    position: absolute;
    right: 500px;
}

.teatro1{
    height: 400px;
    width: 500px;
    top: 200px;
    position: absolute;
    right: 1015px;
}
.teatro2{
    height: 350px;
    width: 500px;
    top: 610px;
    position: absolute;
}

.teatro3{
    height: 450px;
    width: 500px;
    top: 200px;
    position: absolute;
    right: 500px;
}

.teatro4{
    height: 300px;
    width: 500px;
    top: 660px;
    position: absolute;
    right: 500px;
}


